{
  "presets" : [
    "@babel/preset-react"
  ],
  "plugins": [
    ["babel-plugin-root-import", {
      "rootPathPrefix": "@"
    }],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "styled-jsx/babel",
  ],
}